<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="onOpenModal(null, 'add')">Add Employee</a>
      </li>
    </ul>
    <form class="d-flex my-2 my-lg-0">
      <input type="search" #key="ngModel" ngModel name="key" (ngModelChange)="searchEmployees(key.value)" 
             id="searchName" class="form-control me-sm-2" placeholder="Search employees...">
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30 shadow-sm mt-3">
        <div class="card-body row">
          <div class="col-6">
            <a href="#"><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{employee?.name}}</h5>
            <p class="m-0 text-muted small">{{employee?.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-end"></i>{{employee?.email}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-end"></i>Phone : {{employee?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-end btn-group btn-group-sm">
            <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary text-white" title="Edit"><i class="fa fa-pencil"></i></a>
            <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary text-white" title="Delete"><i class="fa fa-times"></i></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="employees?.length === 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">NO EMPLOYEES!</h4>
          <p>No Employees were found.</p>
      </div>
  </div>
</div>


<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-header" id="addEmployeeModalLabel">Add Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
          <p>Form coming soon...</p>
       </div>
    </div>
  </div>
</div>